.App {
	text-align: center;
}

.pagination {
	margin: 30px;
}
.pagination button {
	padding: 5px 10px;
	margin-right: 20px;
	border-radius: 50%;
}
.pagination .selected {
	background-color: rgb(43, 43, 224);
	color: white;
}
