.App {
	text-align: center;
}

.pagination {
	margin: 60px 30px;
}
.pagination button {
	padding: 5px 10px;
	margin-right: 20px;
	border-radius: 50%;
}
.pagination .selected {
	background-color: #59815b;
	color: white;
}
.button {
	background-color: #59815b !important;
}

.color {
	color: #59815b !important;
}
.loader span {
	background: #59815b !important;
}
